<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle.MacAppStore</string>
		<string>139.18</string>
	</array>
	<key>CreationDate</key>
	<string>2013-08-08 13:11:24 +0000</string>
	<key>Creator</key>
	<string>Per Spilling</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>3</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.ai</string>
		<string>image1.ai</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-08-21 21:02:14 +0000</string>
	<key>Modifier</key>
	<string>Per Spilling</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.28001499176025, 841.8900146484375}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.28001499176025, 782.8900146484375}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>36</integer>
						<key>Position</key>
						<real>0.42412695288658142</real>
					</dict>
					<key>ID</key>
					<integer>39</integer>
					<key>Points</key>
					<array>
						<string>{360.50062033517474, 203.4115575908186}</string>
						<string>{337.5, 202.26475974917412}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>15</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>31</integer>
					</dict>
					<key>ID</key>
					<integer>36</integer>
					<key>Points</key>
					<array>
						<string>{337.5, 173}</string>
						<string>{337.50000095367432, 242}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>30</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{361, 187}, {163, 41}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>NoteShape</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.4</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 /api proxy to localhost:9000}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{137.5, 177}, {114, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>FontInfo</key>
					<dict>
						<key>Font</key>
						<string>Helvetica</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>47</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\b\fs24 \cf0 Single Origin Policy}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{157, 190}, {74, 69}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>46</integer>
					<key>ImageID</key>
					<integer>2</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>31</integer>
						<key>Info</key>
						<integer>4</integer>
					</dict>
					<key>ID</key>
					<integer>42</integer>
					<key>Points</key>
					<array>
						<string>{140, 112.44951629638672}</string>
						<string>{235.00000095367432, 302}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>40</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>30</integer>
					</dict>
					<key>ID</key>
					<integer>41</integer>
					<key>Points</key>
					<array>
						<string>{140, 112.44951629638672}</string>
						<string>{235, 113}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>40</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{56, 88.999992592773424}, {43.619720000000001, 62.074218999999999}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>13</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{248.00000000000003, 132}, {37.948717948717949, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>23</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{248.00000000000003, 107.00000000000001}, {37.948717948717949, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>24</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{270.76923076923089, 94.000000000000014}, {125.2307692307692, 63}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>25</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 angularjs-webapp}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{235, 53}, {205, 120}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Cube</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\b\fs24 \cf0 Jetty, localhost:8080\
}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{256.35999345779419, 321}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>27</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{256.35999345779419, 296}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>28</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{276.05230115010187, 283}, {108.30769230769231, 63}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 dw-server}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{235.00000095367432, 242}, {205, 120}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>31</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Cube</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\b\fs24 \cf0 Jetty, localhost:9000\
}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{37, 59.899032592773438}, {103, 105.10096740722656}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>40</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Cube</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\b\fs24 \cf0 Web browser}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.28001499176025, 782.8900146484375}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1.000 cm = 1.000 cm</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>36</integer>
						<key>Position</key>
						<real>0.42412695288658142</real>
					</dict>
					<key>ID</key>
					<integer>39</integer>
					<key>Points</key>
					<array>
						<string>{217.86011953891327, 174.2958643200883}</string>
						<string>{165.61860843676374, 175.43999606370926}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>0</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>15</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{218.35999965667725, 152}, {163, 41}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>15</integer>
					<key>Shape</key>
					<string>NoteShape</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.4</string>
								<key>g</key>
								<string>1</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 /api proxy to localhost:9000}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>35</integer>
						<key>Info</key>
						<integer>4</integer>
					</dict>
					<key>ID</key>
					<integer>37</integer>
					<key>Points</key>
					<array>
						<string>{174.35999250411982, 279.5}</string>
						<string>{212.05230019642761, 279.5}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>29</integer>
						<key>Info</key>
						<integer>3</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>29</integer>
						<key>Info</key>
						<integer>2</integer>
					</dict>
					<key>ID</key>
					<integer>36</integer>
					<key>Points</key>
					<array>
						<string>{199.06460710672241, 122.00000000000001}</string>
						<string>{120.20614635027368, 248}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>HeadArrow</key>
							<string>FilledArrow</string>
							<key>Legacy</key>
							<true/>
							<key>LineType</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>25</integer>
						<key>Info</key>
						<integer>1</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{192.35999250411993, 286}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>33</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{192.35999250411993, 261}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>34</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{212.05230019642764, 248}, {108.30769230769231, 63}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>35</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 DB}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>32</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{113.67999172210693, 97}, {37.948717948717949, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>23</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{113.67999172210693, 72.000000000000014}, {37.948717948717949, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>24</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{136.44922249133782, 59.000000000000014}, {125.2307692307692, 63}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>25</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 angularjs-webapp}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>22</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{100.67999172210693, 18}, {205, 120}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>30</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Cube</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\b\fs24 \cf0 Jetty, localhost:8080\
}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{46.359992504119845, 286}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>27</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{46.359992504119845, 261}, {32.820512820512832, 12}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>28</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{66.052300196427524, 248}, {108.30769230769231, 63}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>ID</key>
							<integer>29</integer>
							<key>Magnets</key>
							<array>
								<string>{0, 1}</string>
								<string>{0, -1}</string>
								<string>{1, 0}</string>
								<string>{-1, 0}</string>
							</array>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict/>
							<key>Text</key>
							<dict>
								<key>Text</key>
								<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\qc

\f0\fs24 \cf0 dw-server}</string>
								<key>VerticalPad</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>26</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{25, 207}, {356.3599853515625, 120}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>31</integer>
					<key>Magnets</key>
					<array>
						<string>{0, 1}</string>
						<string>{0, -1}</string>
						<string>{1, 0}</string>
						<string>{-1, 0}</string>
					</array>
					<key>Shape</key>
					<string>Cube</string>
					<key>Style</key>
					<dict/>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720

\f0\b\fs24 \cf0 Jetty, localhost:9000\
}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>TextPlacement</key>
					<integer>0</integer>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{567, -0}, {759, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-32, 0}, {624, 739}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
