<h3>Tabs example from http://angularjs.org/</h3>

<tabs>
    <pane title="Localization">
        Date: {{ '2012-04-01' | date:'fullDate' }} <br>
        Currency: {{ 123456 | currency }} <br>
        Number: {{ 98765.4321 | number }} <br>
    </pane>
    <pane title="Pluralization">
        <div ng-controller="BeerCounter">
            <div ng-repeat="beerCount in beers">
                <ng-pluralize count="beerCount" when="beerForms"></ng-pluralize>
            </div>
        </div>
    </pane>
</tabs>